.calculator {
    flex: 1;
    background-color: rgb(190, 190, 190);
    padding: 20px;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 11px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container input {
    grid-column: span 4; 
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 24px;
    margin-top: 15px;
    border-radius: 5px;
    background-color:  rgb(167, 167, 167);
    box-sizing: border-box; 
}

.container button {
    border: none;
    cursor: pointer;
    font-size: 25px;
    cursor: pointer;
}

.action-button {
    background-color:  rgb(167, 167, 167);
}

