.history-panel {
    width: 300px;
    background-color: rgb(190, 190, 190);
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.history-panel.show {
    left: 0; 
}

.history-panel h2 {
    margin: 0;
    padding: 20px;
}

.history-list {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.history-item {
    margin-bottom: 10px;
}

.clear-history {
    padding: 20px;
    background-color: rgb(164, 163, 163);
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .history-panel {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        transition: left 0.3s ease;
    }
}

